# Copy this file to .env and enter your token only in .env, which is not committed publically

ORCH_TOKEN=your-jde-token-here
ORCH_URL=http://vpn03.mrad-services.com:5010/jderest/orchestrator
ORCH_ADDRESS_ENDPOINT=/ORCHI_MCP_AddressBook

