# Copy this file to .env

# The JDE orchestrator token is a required argument on get_address_info, 
# since it expires frequently and callers need to be  able to refresh it 
# without restarting the service.

ORCH_URL=http://vpn03.mrad-services.com:5010/jderest/orchestrator
ORCH_ADDRESS_ENDPOINT=/ORCHI_MCP_AddressBook

